<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hello World</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink = "user-cmp">Ajinkya</a>
        </li>
        <li><a routerLink = "guest-cmp">Guest</a></li>
        <li><a routerLink = "admin-cmp">Admin</a></li>
        <li><a routerLink = "article-cmp">Article</a></li>
      </ul>
    </div>
  </nav>

<p> Hello {{title}}</p>
<div>Todays Date is: {{todaysDate}}</div>





<router-outlet></router-outlet>

