<p>

  First Number : <input type="number" [(ngModel)]="firstNum"> <br>
  Second Number : <input type="number" [(ngModel)]="secondNum"> <br>

  <button class="btn btn-primary" (click) = "add()">Addition</button> {{addition}}<br>

  <button class="btn btn-success" (click) = "sub()">Substraction</button> {{substraction}}<br>

  <button class="btn btn-warning" (click) = "div()">Division</button> {{division}}<br>

  <button class="btn btn-danger" (click) = "multi()">Multiplication</button> {{multiplication}}



</p>
