<div class="panel panel-primary">
    <div class="panel-heading">
First Component
  
    </div>
    <div class="panel-body">
      <app-first></app-first>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      Second Component
    </div>
    <div class="panel-body">
      <app-second></app-second>      
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Third Component
    </div>
    <div class="panel-body">
      <app-third></app-third>      
    </div>
  </div>

  


  