<div class="panel panel-primary">
  <div class="panel-heading">
    Assignment 1

  </div>
  <div class="panel-body">
    <div>
      Following data is displayed from the component using templateUrl:
      <br>

      <h1>{{title}}</h1>



      <hr>

      <div *ngIf="condition2; else condition1">
        This will be displayed if the condition is true!
      </div>
      <ng-template #condition1> This will be displayed if the condition is false!</ng-template>
      <ng-template #condition2> This will be displayed if the condition is true!</ng-template>
    </div>

  </div>

</div>